{%extends "userapp/base.html"%}
{%load staticfiles%}
{%block body_block%}
<div class="jumbotron">
  {%if registered%}
    <h1>Thanks bruh</h1>
  {%else%}
    <h1>Register here</h1>
    <h3>Fill out this form:</h3>
    <form method="post" enctype="multipart/form-data">
      {%csrf_token%}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <!-- <button type="submit" name="button">Submit</button>   -->
      <input type="submit" name="" value="Submit">   
    </form>
  {%endif%}
</div>
{%endblock%}
